@page "/ios-apps/{identifier}"
@using Claunia.PropertyList
@using System.IO.Compression
@using System.Text.RegularExpressions
@using System.Security.Cryptography
@using System.Diagnostics
@using System;
@using System.Collections.Concurrent;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using IpaHosting.Controllers
@using Microsoft.AspNetCore.Mvc.Routing
@using QRCoder
@attribute [StreamRendering]

@inject IStorageService _storage;

<PageTitle>IPAs</PageTitle>

<h1>IPAs</h1>

@if (_packages == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var package in _packages)
    {
        <div>
            <img src="@package.Info.DisplayImageUrl" style="height: 40px; width: 40px; " />
            @package.CreationTime.ToString("dd. MMM") | @package.CreationTime.ToString("HH:mm") <br />
            @package.Info.CFBundleIdentifier <br />
            <br />
            @* <br />
    <a href="itms-services://?action=download-manifest&url=@package.Info.PlistUrl">install</a> <br />
    <br />
    <br /> *@
            <a href="@package.ItmsServiceUri">install encoded</a> <br />
            <br />
            @package.Info.CFBundleShortVersionString (@package.Info.CFBundleVersion)
        </div>
        <div>
            <details>
                <summary>Details</summary>
                <ul>
                    <li>SHA256: @package.Info.Sha256</li>
                    <li><a href="@package.Info.PlistUrl">manifest.plist</a></li>
                    <li><a href="@package.Info.IpaDownloadUrl">app.ipa</a></li>
                </ul>
                <img src="@ToDataUrl("image/png", package.ItmsServiceUri.ToString())" width="200" height="200" style="display: block;" />

                <details>
                    <summary>Info.plist</summary>
                    <pre>
                        <code>
                            @package.Info.InfoPlistXml
                        </code>
                    </pre>
                </details>

                <details>
                    <summary>Info.plist as JSON</summary>
                    <pre>
                        <code>
                                @package.Info.InfoPlistJson
                            </code>
                        </pre>
                </details>
            </details>
        </div>
        <hr />
    }
}

@code {
    [Parameter]
    public required string Identifier { get; init; }

    private IphoneInstallPackage[]? _packages;

    [Inject] IStorageService _storageService { get; init; }

    protected override async Task OnInitializedAsync()
    {
        var result = new ConcurrentBag<IphoneInstallPackage>();

        var foundPackages = _storage.GetPackages(PackageKind.Ipa, Identifier).ToArray();
        await Parallel.ForEachAsync(foundPackages, async (pkg, ct) =>
        {
            try
            {
                var info = _storageService.GetFile(PackageKind.Ipa, pkg.Sha256);

                var package = new IphoneInstallPackage
                    {
                        CreationTime = pkg.UploadDateUtc.ToLocalTime(),
                        StorageKey = pkg.Sha256.Value,
                        Info = new()
                        {
                            CFBundleIdentifier = info.MetaData.CFBundleIdentifier,
                            CFBundleShortVersionString = info.MetaData.CFBundleShortVersionString,
                            CFBundleVersion = info.MetaData.CFBundleVersion,
                            DisplayImageUrl = MyUrlHelper.AppIconUrl(pkg.Sha256),
                            InfoPlistXml = info.MetaData.InfoPlistXml,
                            InfoPlistJson = info.MetaData.InfoPlistJson,
                            IpaDownloadUrl = "/TODO",
                            PlistUrl = "/TODO",
                            Sha256 = pkg.Sha256.Value,
                            StorageKey = pkg.Sha256.Value,
                        },
                        ItmsServiceUri = new Uri("itms-services://?action=download-manifest&url=" + Uri.EscapeDataString("TODO"))
                    };

                result.Add(package);
            }
            catch (Exception ex)
            {
                Program.Logger.LogError(ex, $"failed to process file '{pkg.Sha256}'");
            }
        });

        _packages = result.ToArray();
    }

    private static string ToDataUrl(string mimeType, string text)
    {
        byte[] qrCodeImage;
        using (QRCodeGenerator qrGenerator = new QRCodeGenerator())
        using (QRCodeData qrCodeData = qrGenerator.CreateQrCode(text, QRCodeGenerator.ECCLevel.Q))
        using (PngByteQRCode qrCode = new PngByteQRCode(qrCodeData))
        {
            qrCodeImage = qrCode.GetGraphic(20);
        }

        var base64 = Convert.ToBase64String(qrCodeImage);
        return string.Format("data:{0};base64,{1}", mimeType, base64);
    }

    private class IphoneInstallPackage
    {
        public required DateTime CreationTime { get; init; }
        public required string StorageKey { get; init; }
        public required Uri ItmsServiceUri { get; init; }
        public required IphoneInstallPackageInfo Info { get; init; }
    }
}
